.detail {
  width: 100%;
}

.add-card {
  margin-top: 10px;
  margin-left: 20px;
}

.detail-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flash-form {
  margin: 40px;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-btn-group {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: #a0e8f3;
}

.card-btn-group span {
  padding: 0 20px;
}

.card-btn-group span:hover {
  cursor: pointer;
}

.deck-info {
  padding: 40px 30px;
  color: #17a2b8;
  max-width: 650px;
}