.flashcard {
  width: 500px;
  background: #f7f7f7;
  height: 400px;
  margin: 20px 10vw;
  border-radius: 4px;
  box-shadow: 3px 11px 20px -4px rgba(0, 0, 0, 0.34);
}

.card-options {
  text-align: right;
}

.card-options-link {
  display: inline-block;
  color: #17a2b8;
  margin: 4px 6px;
}

.card-options-link:hover {
  cursor: pointer;
}

.card-text {
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.front {
  font-size: 50px;
}

.back {
  font-size: 30px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  color: #b87e17;
}