.flashcard {
  width: 500px;
  background: #f7f7f7;
  height: 400px;
  margin: 10px auto;
  border: 3px solid transparent;
  border-radius: 4px;
  box-shadow: 3px 11px 20px -4px rgba(0, 0, 0, 0.34);
}

.study-card {
  margin: 60px auto 25px auto;
}

.card-options {
  text-align: right;
}

.card-options-link {
  display: inline-block;
  color: #17a2b8;
  margin: 4px 6px;
}

.card-study {
  margin-top: -70px;
  text-align: center;
}

.card-study-option {
  display: inline-block;
  margin: 0 30px;
  font-size: 70px;
}

.card-study-option:hover {
  cursor: pointer;
}

.right {
  color: green;
}

.wrong {
  color: red;
}

.wrong-card {
  border: 3px solid red;
}

.right-card {
  border: 3px solid green;
}

.card-options-link:hover {
  cursor: pointer;
}

.card-text {
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 40px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  color: #b87e17;
}